{% load staticfiles %}
{% load common %}
<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Bookshare!</title>
    <link rel="stylesheet" href="{% static 'common.css' %}"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
</head>
<body>
    <div id="header">
        <a class="title" href="{% url 'main' %}">
            BookSha.<span class="highlight">re</span>
        </a>

        <div class="search-form">
        <form class="search" action="{% url 'book:search' %}">
            <label for="search-keyword" class="ion-search"></label>
            <input type="text" name="q" id="search-keyword" value="{{ search_keyword }}"/>
        </form>
        </div>

        <ul class="menu right">
        {% if not user.is_authenticated %}
            <li>
                <a class="btn facebook" href="{% url 'social:begin' 'facebook' %}">페이스북으로 로그인</a>
            </li>
        {% else %}
            <li>
                <div class="profile">
                    {% if user.profile.photo %}
                        <img class="photo" src="{{ user.profile.photo }}" alt="{{ user.username }}"/>
                    {% endif %}

                    <a href="/">
                    {% if not user.last_name and not user.first_name %}
                        {{ user.username }}
                    {% else %}
                        {{ user.last_name }} {{ user.first_name }}
                    {% endif %}
                    </a>
                </div>
            </li>
            <li>
                <a href="{% url 'logout' next_page='/' %}" class="logout ion-power"></a>
            </li>
        {% endif %}
        </ul>
    </div>
    <div id="body">
        <div class="sidebar">
            <h4 class="label">메뉴</h4>
            <ul class="menu">
                <li class="active">
                    <a href="{% url 'main' %}">
                        <i class="icon ion-earth"></i> 지금!
                    </a>
                </li>
                <li>
                    <a href="{% url 'book:recent' %}">
                        <i class="icon ion-ios-book"></i> 최근 대여된 도서
                    </a>
                </li>
                <li>
                    <a href="{% url 'book:available' %}">
                        <i class="icon ion-ios-book-outline"></i> 대여 가능한 도서
                    </a>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <div class="divider"></div>

            <h4 class="label">내 서재</h4>
            <ul class="menu">
                <li>
                    <a href="#">
                        <i class="icon ion-ios-box-outline"></i> 내 책장
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ion-email"></i> 편지함
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ion-heart"></i> 보고싶은 책
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ion-stats-bars"></i> 지금까지 빌려본 책
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ion-settings"></i> 내 정보 수정
                    </a>
                </li>
            </ul>
            {% endif %}

            <div class="divider"></div>

            <h4 class="label">모두의 공간</h4>
            <ul class="menu">
                <li>
                    <a href="#">
                        <i class="icon ion-speakerphone"></i> 공지사항
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ion-ios-list-outline"></i> 게시판
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ion-person-stalker"></i> 사용자 그래프
                    </a>
                </li>
            </ul>


        </div>
        <div class="content" id="r-content">
        {% block content %}{% endblock %}
        </div>

        <script src="{% static 'vendor/webfont.async.js' %}"></script>
        <script src="{% static 'vendor/system.js' %}"></script>
        <script src="{% static 'system.config.js' %}"></script>
        {% block js %}{% endblock %}
    </div>
</body>
</html>
